@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.blockOne {
    height: 570px;
}
.planA{
    text-align: center;
    padding-top: 91px;
}
h4{  
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
    margin: 0px;
}
h3{
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #3D4F9F;
    margin: 0px;
}
.planA p {
    height: 78px;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #8D96BD;
    text-align: center;
}